html{
    font-size: 14px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: sans-serif;
    color: white;
}
.header{
    display: flex;
    background: #1f1d1d;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.header ol{
    display: flex;
}

.header #logo img{
    width: 7rem;
}

.header #search-btn img{
    width: 1.8rem;
}
.header ol li{
    list-style-type: none;
    font-size: 1.3rem;
    padding: 0 12px;
}

.header ol li:hover{
    color: #f15900;
    cursor: pointer;
}

.header::before{
    content: "";
    background: url("./BG.png") no-repeat center center/cover;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.home{
    /* border: 2px solid green; */
    padding-left: 7vw;
    padding-top: 20vw;
    /* position: absolute;
    top: 24rem;
    left: 6rem; */

}

.home h1{
    font-size: 3.8em;
}
.home p{
    width: 45vw;
    font-size: large;
    padding-right: 2vw;
    margin: 2vw 0;
    text-align: justify;
}

.home button{
    color: white;
    font-weight: bold;
    background-color: #f15900;
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0.6px 0.6px 0.6px white;
}

.home button:hover{
    color: #f15900;
    background: #1f1d1d;
    box-shadow: 0.6px 0.6px 0.6px #f15900;
    cursor: pointer;
}