body{
    margin: 0;
    color: white;
}
*{
    padding: 0;
    margin: 0;
}
h3{
    font-size: 1.3em;
}
h1{
    font-size: 2.5em;
}
h4{
    font-size: 1.3em;
}
/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    flex-wrap: wrap;
}

header img{
    width: 10%;
    margin-left: 8%;
}

.nav{
    display: flex;
    margin-right: 4%;
}
.nav li{
    font-family: sans-serif;
    list-style-type: none;
    padding: 0 1.1em;
    transition: font-size 0.5s;
}

.nav li:hover{
    color: rgb(211, 93, 15);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}


/* center text */
section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    flex-wrap: wrap;
}
section::before{
    content: "";
    background: url("./bg.png") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-size: cover;
}
/* section left part  */

section #left-item{
    margin-top: 5%;
    margin-left: 8%;
    flex: 59%;
}

section #left-item div{
    margin-top: 5px;
}
section #left-item div img, section #left-item div h5{
    display: inline-block;
}

section #left-item div img{
    width: 5%;
    vertical-align: middle;
    animation: move 3s ease-out infinite;
}

@keyframes move {
    0%{
        margin-left: 0;
    }
    10%{
        margin-left: 10px;
    }
}
section #left-item div img:hover{
    cursor: pointer;
}
/* section right part */

section #right-item{
    margin-top: 5%;
    margin-right: 6%;
    flex: 2%;
}
section #right-item p{
    font-size: 72%;
    margin-top: 10px;
}


/* footer content */


#bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28vh;
    flex-wrap: wrap;
}

#bottom div a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
}

#bottom div img{
    width: 40px;
    transition: width 0.5s;
}

#bottom #socials{
    margin-left: 40%;
}


/* hover features */

#bottom #socials img:hover{
    width: 48px;
    cursor: pointer;
}